page-login {
  .itemmargin {
    margin-top: 0.6rem;
    height: 5.1rem;
  }

  .invalid {
    border: 2px solid #ea6153;
  }

  .bck-cnt {
    background-color: #343434;
    margin: auto;
  }

  .scroll-content {
    margin-top: 100px !important; 
  }
  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .btn-sign {
    color: #fff;
    border: 2px solid #FF2756;
    text-align: center;
    margin-left: 1rem;
    padding: 0.2rem 0.8rem;
    background-color: transparent !important;
  }

  .signup-btn {
    margin-top: 20px !important;
    color: #fff !important;
  }

  .btn-lgn {
    background-color: #FF2756 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    letter-spacing: 0.02rem;
    margin-top: 14px;
  }

  .toggle-icon {
    background-color: #dedede !important;
  }

  .toggle-md.toggle-checked {
    color: #FF2756 !important;
  }

  .toggle-md.toggle-checked .toggle-icon {
    background-color: rgb(238, 132, 155) !important;
  }

  .toggle-md.toggle-checked .toggle-inner {
    background-color: #FF2756 !important;
  }

  .toggle-ios.toggle-checked {
    color: #FF2756 !important;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background-color: rgb(238, 132, 155) !important;
  }

  .toggle-ios.toggle-checked .toggle-inner {
    background-color: #FF2756 !important;
  }

}
