<ion-header>
  <ion-navbar color="dark">
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bck-cnt">
  <ion-list>
    <form [formGroup]="loginForm" (ngSubmit)="loginHandler()">
      <ion-item class="itemmargin" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitData)">
        <ion-input type="email" placeholder="Enter registered email here." formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="itemmargin" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitData)">
        <ion-input type="password" maxLength="20" placeholder="Enter your password here." formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="itemmargin">
        <ion-label>Login as Admin</ion-label>
        <ion-toggle formControlName="asDelivery" (ngModelChange)="asDelivery($event)"></ion-toggle>
      </ion-item>
      <button ion-button class="btn-lgn" large full type="submit">LOGIN
        NOW</button>
    </form>
    <div text-center><button text-center ion-button clear class="clr-white1 signup-btn" (click)="forgotPsd()">
        Forgot Password?
      </button>
    </div>
    <div text-center><button text-center ion-button clear class="clr-white1 signup-btn" (click)="signUp()">Don't have
        an account?
        <button ion-button small outline class="btn-sign">Sign Up</button></button></div>
  </ion-list>
</ion-content>
