<ion-header>
  <ion-navbar color="dark">
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bck-cnt">
  <ion-list>
    <form [formGroup]="forgotPswd">
      <ion-item class="itemmargin" [class.invalid]="!forgotPswd.controls.email.valid && (forgotPswd.controls.email.dirty || submitData)">
        <ion-input type="email" [disabled]="activated" placeholder="Enter email here." formControlName="email"></ion-input>
      </ion-item>
      <ion-item *ngIf="activated" class="itemmargin" [class.invalid]="!forgotPswd.controls.password.valid && (forgotPswd.controls.password.dirty || submitData)">
        <ion-input type="password" maxLength="20" placeholder="Enter password here." formControlName="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="activated" class="itemmargin" [class.invalid]="!forgotPswd.controls.confirmPassword.valid && (forgotPswd.controls.confirmPassword.dirty || submitData)">
        <ion-input type="password" maxLength="20" placeholder="Enter Confirm password here." formControlName="confirmPassword"></ion-input>
      </ion-item>
      <button ion-button *ngIf="!activated" class="btn-lgn" large full (click)="forgotpsdHandler()" type="submit">Request</button>
      <button ion-button *ngIf="activated" class="btn-lgn" large full (click)="submitNewPsd()" type="submit">Reset
        Password</button>
    </form>
  </ion-list>
</ion-content>
