<ion-header>
  <ion-navbar color="dark">
    <ion-title>View Book</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="viewDismiss()">
        <ion-icon style="color:white" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <img [src]="bookData?.image" />
    </ion-card-header>
    <ion-card-content>
      <ion-card-title>
        <strong>Book Name : </strong>{{bookData?.bookName}}
      </ion-card-title>
      <ion-row>
        <ion-col>
          <p><strong>Book Id:</strong>{{bookData?.bookNumber}}</p>
        </ion-col>
        <ion-col>
          <p><strong>LatLng:</strong>{{bookData?.lat.toFixed(3)}},{{bookData?.lng.toFixed(3)}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p><strong>Date : </strong>{{bookData?.addedDate |date:'dd-MMM-yyyy h:mm a'}}</p>
      </ion-row>
      <p>
        <strong>Descrption : </strong>
        {{bookData?.bookDes}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
