<ion-header>
  <ion-navbar color="dark">
    <ion-title>Book List</ion-title>
    <ion-buttons *ngIf="!typeFlow" end>
      <button ion-button clear (click)="presentModal('','Add')">
        <ion-icon style="color:white" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background:lightgrey">
  <ion-list>
    <ion-item-sliding *ngFor="let item of allBooks" (ionSwipe)="delete(item)">
      <ion-item (click)="viewBook(item)" class="itm-mrgn">
        <ion-avatar item-start>
          <img [src]="item.image" />
        </ion-avatar>
        <ion-label>
          <h2>{{item.bookName}}</h2>
          <p>{{item.bookDes}}</p>
        </ion-label>
        <ion-note item-end>
          {{item.addedDate |date:'dd-MMM-yy'}}
        </ion-note>
      </ion-item>
      <ion-item-options *ngIf="!typeFlow" side="right">
        <button ion-button color="primary" (click)="presentModal(item,'Edit')">Edit</button>
        <button ion-button color="danger" (click)="delete(item)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <h2 *ngIf="allBooks.length==0" style="color:red" text-center>No Books are Available !!</h2>
  </ion-list>
</ion-content>
