page-books-list {
  ion-icon {
    display: inline-block;
    font-size: 2.0em;
  }

  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .itm-mrgn {
    border-bottom: 2px solid lightgray;
  }
}
