<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{flowData?.name}}</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="logout()">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-content class="card-background-page">
    <ion-card *ngFor="let item of booksList" (click)="viewDetails(item)">
      <img [src]="item.image" />
      <div class="card-title">{{item.name}}</div>
    </ion-card>
  </ion-content>
</ion-content>
