page-admin-pannel {
  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      border: 4px solid gray;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.5em;
      width: 100%;
      font-weight: bold;
      color: white;
    }
  }
}
