<ion-header>
  <ion-navbar color="dark">
    <ion-title>SignUp</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bck-cnt">
  <ion-list>
    <form [formGroup]="signupForm" (ngSubmit)="registerHandler()">
      <ion-item class="itemmargin" [class.invalid]="!signupForm.controls.email.valid && (signupForm.controls.email.dirty || submitData)">
        <ion-input type="email" placeholder="Enter email here." formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="itemmargin" [class.invalid]="!signupForm.controls.mobileNumber.valid && (signupForm.controls.mobileNumber.dirty || submitData)">
        <ion-input type="tel" maxLength="10" placeholder="Enter MobileNumber here." formControlName="mobileNumber"></ion-input>
      </ion-item>
      <ion-item class="itemmargin" [class.invalid]="!signupForm.controls.password.valid && (signupForm.controls.password.dirty || submitData)">
        <ion-input type="password" maxLength="20" placeholder="Enter password here." formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="itemmargin" [class.invalid]="!signupForm.controls.confirmPassword.valid && (signupForm.controls.confirmPassword.dirty || submitData)">
        <ion-input type="password" maxLength="20" placeholder="Enter Confirm password here." formControlName="confirmPassword"></ion-input>
      </ion-item>
      <button ion-button class="btn-lgn" large full type="submit">Register
        NOW</button>
    </form>
  </ion-list>
</ion-content>
