page-addbook-model {
  .toolbar-title {
    text-align: center;
  }

  ion-icon {
    display: inline-block;
    font-size: 2.0em;
  }

  .itemmargin {
    margin-top: 0.6rem;
    height: 5.1rem;
  }

  .invalid {
    border: 2px solid #ea6153;
  }

  .bck-cnt {
    background-color: #343434;
    margin: auto;
  }

  .scroll-content {
    margin-top: 100px !important;
  }

  .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }

  .btn-lgn {
    background-color: #FF2756 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    font-weight: 600;
    letter-spacing: 0.02rem;
    margin-top: 14px;
  }
}
