<ion-header>
  <ion-navbar color="dark">
    <ion-title>Add Book</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="viewDismiss()">
        <ion-icon style="color:white" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="bck-cnt">
  <ion-list>
    <form [formGroup]="addbookForm">
      <ion-item class="itemmargin" [class.invalid]="!addbookForm.controls.bookName.valid && (addbookForm.controls.bookName.dirty || submitData)">
        <ion-input type="text" placeholder="Enter the Book Name here. " formControlName="bookName"></ion-input>
      </ion-item>
      <ion-item class="itemmargin" [class.invalid]="!addbookForm.controls.bookNumber.valid && (addbookForm.controls.bookNumber.dirty || submitData)">
        <ion-input type="tel" placeholder="Enter the Book ISB Number here." formControlName="bookNumber"></ion-input>
      </ion-item>
    </form>
    <button ion-button class="btn-lgn" large full type="submit" (click)="submitHandler()">Submit</button>
  </ion-list>
</ion-content>
